{
  // http://eslint.org/docs/rules/
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:react/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "goog": true,
    "glue": true,
    "process": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 2020,
    // Allows for the parsing of modern ECMAScript features
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "createClass": "createReactClass", // Regex for Component Factory to use,
      // default to "createReactClass"
      "pragma": "React", // Pragma to use, default to "React"
      "version": "detect", // React version. "detect" automatically picks the version you have installed.
      // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
      // default to latest and warns if missing
      // It will default to "detect" in the future
      "flowVersion": "0.53" // Flow version
    },
    "propWrapperFunctions": [
      // The names of any function used to wrap propTypes, e.g. `forbidExtraProps`. If this isn't set, any propTypes wrapped in a function will be skipped.
      "forbidExtraProps",
      { "property": "freeze", "object": "Object" },
      { "property": "myFavoriteWrapper" }
    ],
    "linkComponents": [
      // Components used as alternatives to <a> for linking, eg. <Link to={ url } />
      "Hyperlink",
      { "name": "Link", "linkAttribute": "to" }
    ]
  },
  "rules": {
    // added
    "no-empty-function": "off",
    // Base eslint
    "camelcase": 0,
    "no-unused-vars": 1,
    "no-multi-spaces": 0,
    "no-console": "off",
    "no-invalid-this": 0,
    "no-var": 0,
    "new-cap": [
      1,
      {
        "properties": false
      }
    ],
    "padded-blocks": 0,
    "prefer-rest-params": 1,
    "quote-props": "off",
    "max-len": [
      2,
      80,
      2,
      {
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreTemplateLiterals": true,
        "ignorePattern": "^[\\s\\w\\s=]*goog\\.(?:module|provide|require)\\([\"'](.*)[\"']\\)"
      }
    ],
    "require-jsdoc": 0,
    "react/react-in-jsx-scope": 0
  }
}
