@use 'variables' as v;

.bar {
  background: v.$prismic-purple;
  bottom: 0;
  color: v.$white;
  left: 0;
  padding: 5px 20px;
  position: fixed;
  text-align: center;
  width: 100%;

  a {
    color: currentColor;
    display: inline-block;
  }
}
