@use 'variables' as v;
@use 'mixins' as m;

$_default-title-size: (
  sm: 20px,
  md: 40px,
  lg: 60px,
);

$_default-title-height: (
  sm: 1,
  md: 1,
  lg: 1,
);

$_default-title-spacing: (
  sm: normal,
  md: normal,
  lg: normal,
);

$_default-title-weight: 400;

@mixin title(
  $font: v.$font-primary,
  $size: $_default-title-size,
  $height: $_default-title-height,
  $weight: $_default-title-weight,
  $spacing: $_default-title-spacing
) {
  $sizes: map-merge($_default-title-size, $size);
  $heights: map-merge($_default-title-height, $height);
  $spacings: map-merge($_default-title-spacing, $spacing);

  font-family: $font;
  font-size: map-get($sizes, sm);
  font-weight: $weight;
  letter-spacing: map-get($spacings, sm);
  line-height: map-get($heights, sm);

  @each $key, $breakpoint in v.$breakpoints {
    @include m.breakpoint($breakpoint) {
      font-size: map-get($sizes, $key);
      letter-spacing: map-get($spacings, $key);
      line-height: map-get($heights, $key);
    }
  }
}
