// COLORS
$transparent: transparent;
$white: #fff;
$true-black: #000;
$prismic-purple: #5163ba;

// BREAKPOINTS
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
$md: $tablet;
$lg: $laptop;
$xl: $desktop;
$breakpoints: (
  md: $md,
  lg: $lg,
  xl: $xl,
);

// TYPE
$font-primary: sans-serif;

// SPACING
$grid-gap: 8px;
$grid-gap-md: 16px;
$max-width: 1376px;
$gutter: $grid-gap * 2;
$gutter-md: $grid-gap-md * 2;
$slice-pad: 40px;
$slice-pad-md: 80px;

// Z-INDEX
$z-1: 8888;
$z-2: 7777;
$z-3: 6666;
