@use 'variables' as v;
@use 'mixins' as m;

html {
  font-family: v.$font-primary;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

// Dont show focus outline until tabbed
:focus:not(:focus-visible) {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  color: inherit;
  font: inherit;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

#nprogress {
  .bar {
    background-color: v.$true-black;
    z-index: v.$z-1;
  }

  .spinner {
    z-index: v.$z-1;
  }

  .spinner-icon {
    border-left-color: v.$true-black;
    border-top-color: v.$true-black;
  }
}

p {
  margin: 0;

  + p {
    margin-top: 1em;
  }
}

img,
svg {
  max-height: 100%;
  max-width: 100%;
}
