@use 'variables' as v;

$bar-color: v.$true-black;

#nprogress {
  pointer-events: none;

  .bar {
    background: $bar-color;
    height: 2px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1031;
  }

  .peg {
    box-shadow: 0 0 10px $bar-color, 0 0 5px $bar-color;
    display: block;
    height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: rotate(3deg) translate(0, -4px);
    width: 100px;
  }

  .spinner {
    display: block;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 1031;
  }

  .spinner-icon {
    animation: nprogress-spinner 400ms linear infinite;
    border: solid 2px transparent;
    border-left-color: $bar-color;
    border-radius: 50%;
    border-top-color: $bar-color;
    box-sizing: border-box;
    height: 18px;
    width: 18px;
  }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;

  #nprogress {
    .spinner,
    .bar {
      position: absolute;
    }
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
